certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==41.0.7
greenlet==3.0.1
idna==3.6
pycparser==2.21
PyMySQL==1.1.0
pyTelegramBotAPI==4.14.0
python-dotenv==1.0.0
requests==2.31.0
SQLAlchemy==2.0.23
typing_extensions==4.8.0
urllib3==2.1.0
